* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: whitesmoke;
}

.main-container {
    width: 100%;
    height: 100%;
}
.main-container > .left-menu {
    height: 100%;
    float: left;
    width: 70px;
    padding-top: 1em;
    background: #ff6a6a;
}
.main-container > .left-menu > .submenu {
    width: 70px;
    display: flex;
    height: 70px;
    justify-content: center;
    padding-top: 18px;
    font-size: 2em;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.main-container > .left-menu > .submenu:hover {
    background: #e61800;
}
.active-sub {
    width: 70px;
    display: flex;
    height: 70px;
    justify-content: center;
    padding-top: 18px;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
    background: white;
    color: #ff6a6a !important;
}
.active-sub:hover {
    background: #d6d6d6 !important;
    cursor: not-allowed !important;
}
.main-content {
    position: absolute;
    left: 70px;
    height: 100vh;
    width: 100%;
}
.main-content > .form-sec {
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
}

form#form-sec {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 33%;
    top: 50%;
    clear: both;
    transform: translateY(-50%);
}

h1.form-hd {
    font-size: 2.3em;
    border-bottom: 2px solid #707070;
    padding-bottom: 20px;
    width: 7em;
    color: #707070;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    transform: translateX(36%);
}

input[type="text"],
input[type="email"],
input[type="number"] {
    border: none;
    border-bottom: 1px solid #707070;
    margin-top: 29px;
    padding: 5px;
    width: 100%;
    height: 38px;
    background: none;
}

input#in-fname {
    width: 45%;
    display: inline;
    float: left;
}

input#in-lname {
    width: 45%;
    display: inline;
    float: right;
}

input[type="submit"] {
    border: 2px solid #ff6a6a;
    padding: 10px 20px;
    margin-top: 43px;
    background: #ff6a6a;
    color: white;
    font-size: 1.1em;
    box-sizing: border-box;
    font-variant: all-petite-caps;
    border-radius: 25px;
    transition: all 0.5s ease;
}
input:focus {
    outline: none;
}
input[type="submit"]:hover {
    color: #ff6a6a;
    background: whitesmoke;
    border-radius: 15px;
}

/* start task container css */

.main-content > .task-sec {
    height: 100%;
    width: 94%;
    padding: 30px;
    overflow-y: auto;
    display: none;
}
table {
    display: block;
    height: auto;
    min-height: 100%;
}

tbody {
    display: block;
    height: auto;
    min-height: 100vh;
    width: 100%;
}

tr {
    display: flex;
    width: 100%;
    text-align: left;
    padding: 12px 0px 0px 150px;
    height: 40px;
    margin-top: 2px;
    box-sizing: border-box;
}

th,
td {
    flex: 33.33%;
}

tr:nth-child(even) {
    background-color: #dfdfdf;
    color: #707070;
}

th {
    color: #ff6a6a;
    font-variant: all-petite-caps;
    font-size: 1.4em;

    font-weight: 500;
}

#sp-a {
    text-decoration: none;
    margin: 0 !important;
    padding: 0 !important;
    background: none;
    border: none;
    color: #f7f7f7;
    cursor: pointer;
    transition: all 0.5s ease;
}
#sp-a:hover {
    color: #ff6a6a;
    transform: scale(1.5);
}
#sp-td {
    position: absolute;
    right: 310px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
